h1 {
	font-size: 5rem;
	margin: 0;
	line-height: 20vh;
	text-align: center;
}

@media screen and (min-width: 1920) {
	h1 {
		font-size: 5rem;
	}
}

@media screen and (min-width: 2560px) {

	.headerContainer {
		margin-top: 5rem;
	}

	h1 {
		font-size: 10rem;
	}
}

.headerContainer {
	height: 20vh;
	white-space: nowrap;
}
