
.cell {
	width: calc(calc(4vh + 1vw)/2);
	height: calc(calc(4vh + 1vw)/2);
	outline-offset: -8px;
	color: unset;
	outline: 8px outset;
	outline-color: rgba(0, 0, 0, 0);
}

.line {
	background: #00B8D4;
	outline-color: #00E5FF;
}

.l1 {
	background: #2264D4;
	outline-color: #2979FF;
}

.l2 {
	background: #D67A00;
	outline-color: #FF9100;
}

.square {
	background: #D6C500;
	outline-color: #FFEA00;
}

.squiggle1 {
	background: #00C465;
	outline-color: #00E676;
}

.t {
	background: #A800C4;
	outline-color: #D500F9;
}

.squiggle2 {
	background: #CC1236;
	outline-color: #FF1744;
}

.gameOver {
	background: #757575;
	outline-color: #9E9E9E;
}

.frozenLine {
	background: #3D3D3D;
	outline-color: #525252;
}

.previewPiece {
	background: #304047;
}

.previewPiece + .previewPiece {
	border-left: 0;
}
