.Instructions {
	position: fixed;
	background: #182024;
	opacity: 0.95;
	border: solid 4px #C62828;
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;
	min-width: 500px;
	padding: 50px 0px;
}

.instructionlist {
	display: flex;
	flex-direction: column;
	width: 80%;
}
