.Button {
	align-self: center;
	background: #C62828;
	color: lightgrey;
	border: 0;
	padding: 10px;
	margin: 20px;
	font-size: 1rem;
	outline: 8px outset #EF5350;
	outline-offset: 0px;
	cursor: pointer;
}

.Button:active {
	outline: 8px inset #EF5350;
	background: #B71C1C;
	color: #B0BEC5;
}
