.InstructionItem {
	/* border: red solid 1px; */
	height: 100%;
	display: grid;
	grid-template-columns: 35% 1fr;
	grid-column-gap: 50px;
	padding: 5px;
	color: #C62828;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.name {
	border: #C62828 1px solid;
	border-radius: 5px;
	text-align: center;
	margin: 10px;
	line-height: 22px;
	width: 150px;
	height: -webkit-fit-content;
}

.instruction {
	margin: 10px;
	line-height: 25px;
}

.name:hover {
	border: #A60808 1px solid;
	color: #A60808;
}
